AISTN.Common/Models/CourtApis/ExtendedRequest/bankrupt_transfer_extended.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Transfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="program">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="8" />
              <xs:pattern value="[A-Za-z0-9\-_]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="version" type="xs:double" />
        <xs:element name="Case" type="CaseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="SurroundType">
    <xs:sequence>
      <xs:element name="extensions" type="ExtensionsType" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="surround_id" type="PrimaryID" />
      <xs:element name="surround_action" type="ActionType" />
      <xs:element name="surround_no" type="NomerType" />
      <xs:element name="surround_year" type="xs:gYear" />
      <xs:element name="surround_date" type="xs:date"/>
      <xs:element name="surround_text" type="TextType" />
      <xs:element name="Side" type="SideType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SideType">
    <xs:sequence>
      <xs:element name="extensions" type="ExtensionsType" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="side_id" type="PrimaryID" />
      <xs:element name="side_involvement">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:totalDigits value="5" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:choice>
        <xs:element name="side_citizen">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="side_name_1" type="FirstNameType" />
              <xs:element name="side_rename" minOccurs="0" type="ReNameType" />
              <xs:element name="side_family_1" type="LastNameType" />
              <xs:element name="side_family_2" minOccurs="0" type="LastNameType" />
              <xs:element name="side_egn" minOccurs="0" type="EGNType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="side_firm">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="side_name">
                <xs:simpleType>
                  <xs:restriction base="xs:string"></xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="side_bulstat" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="15" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SessionType">
    <xs:sequence>
      <xs:element name="extensions" type="ExtensionsType" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="session_id" type="PrimaryID" />
      <xs:element name="session_action" type="ActionType" />
      <xs:element name="session_kind" type="KindType" />
      <xs:element name="session_date" type="xs:date" />
      <xs:element name="session_time" type="xs:time" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>закритите/разпоредителни заседания нямат определен час</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="session_result">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:totalDigits value="5" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="session_text" type="TextType" />
      <xs:element name="Judge" type="JudgeType" maxOccurs="unbounded" />
      <xs:element name="Surround" type="SurroundProcessedType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="Act" type="ActType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="JudgeType">
    <xs:sequence>
      <xs:element name="extensions" type="ExtensionsType" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="judge_id" type="PrimaryID" />
      <xs:element name="judge_name_1" type="FirstNameType" />
      <xs:element name="judge_rename" minOccurs="0" type="ReNameType" />
      <xs:element name="judge_family_1" type="LastNameType" />
      <xs:element name="judge_family_2" minOccurs="0" type="LastNameType" />
      <xs:element name="judge_egn" minOccurs="0" type="EGNType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SurroundProcessedType">
    <xs:sequence>
      <xs:element name="extensions" type="ExtensionsType" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="surround_id" type="PrimaryID" />
      <xs:element name="surround_no" type="NomerType" />
      <xs:element name="surround_year" type="xs:gYear" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ActType">
    <xs:sequence>
      <xs:element name="extensions" type="ExtensionsType" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="act_id" type="PrimaryID" />
      <xs:element name="act_action" type="ActionType" />
      <xs:element name="act_kind" type="KindType" />
      <xs:element name="act_no" type="NomerType" maxOccurs="1" minOccurs="0" />
      <xs:element name="act_date" type="xs:date" />
      <xs:element name="act_reason" minOccurs="0" maxOccurs="unbounded" type="ReasonType"></xs:element>
      <xs:element name="act_debtor_status" type="DebtorStatusType" maxOccurs="1" minOccurs="0"></xs:element>
      <xs:element name="act_text" type="TextType" />
      <xs:element name="act_image" type="xs:base64Binary" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="act_image_ind" type="xs:boolean"  minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="act_letter_image_" type="xs:base64Binary" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="Appeal" type="AppealType" minOccurs="0" maxOccurs="unbounded" />

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AppealType">
    <xs:sequence>
      <xs:element name="extensions" type="ExtensionsType" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="appeal_id" type="PrimaryID" />
      <xs:element name="appeal_action" type="ActionType" />
      <xs:element name="appeal_kind" type="KindType" />
      <xs:element name="appeal_no" type="NomerType" />
      <xs:element name="appeal_year" type="xs:gYear" />
      <xs:element name="appeal_date" type="xs:date" />
      <xs:element name="Side" type="SideType" maxOccurs="unbounded" />
      <xs:element name="SendTo" type="SendToType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SendToType">
    <xs:sequence>
      <xs:element name="extensions" type="ExtensionsType" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="sendto_id" type="PrimaryID" />
      <xs:element name="sendto_action" type="ActionType" />
      <xs:element name="sendto_kind" type="KindType" />
      <xs:element name="sendto_no" type="NomerType" />
      <xs:element name="sendto_year" type="xs:gYear" />
      <xs:element name="sendto_date" type="xs:date" />
      <xs:element name="sendto_court" type="CourtType" />
      <xs:element name="return" type="ReturnType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ReturnType">
    <xs:sequence>
      <xs:element name="extensions" type="ExtensionsType" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="return_result" maxOccurs="1" minOccurs="0" type="ReturnResultType"></xs:element>
      <xs:element name="return_result2" maxOccurs="1" minOccurs="0" type="ReturnResultType"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InDocType">
    <xs:sequence>
      <xs:element name="extensions" type="ExtensionsType" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="indoc_id">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="32" />
            <xs:pattern value="[a-fA-F_0-9]+" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indoc_kind">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:totalDigits value="5" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indoc_no" maxOccurs="1" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:totalDigits value="6" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indoc_year">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:totalDigits value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indoc_date" type="xs:date" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CaseType">
    <xs:sequence>
      <xs:element name="extensions" type="ExtensionsType" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="case_id" type="PrimaryID" />
      <xs:element name="case_action" type="ActionType" />
      <xs:element name="case_court" type="CourtType" />
      <xs:element name="case_code" type="CodeType" />
      <xs:element name="case_kind" type="KindType" />
      <xs:element name="case_no" type="NomerType" />
      <xs:element name="case_year" type="xs:gYear" />
      <xs:element name="case_date" type="xs:date" />
      <xs:element name="Surround" type="SurroundType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="Session" type="SessionType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="InDoc" type="InDocType" maxOccurs="1" minOccurs="0"></xs:element>
      <xs:element name="Side" type="SideType" maxOccurs="unbounded" minOccurs="0"></xs:element>
      <xs:element name="Judge" type="JudgeType" maxOccurs="1" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="PrimaryID">
    <xs:restriction base="xs:string">
      <xs:length value="32" />
      <xs:pattern value="[a-fA-F0-9]*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ActionType">
    <xs:annotation>
      <xs:documentation>
        13001 - INSERT
        13002 - UPDATE
        13003 - DELETE
        13004 - IGNORE
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:enumeration value="13001" />
      <xs:enumeration value="13002" />
      <xs:enumeration value="13003" />
      <xs:enumeration value="13004" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TextType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="65536" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NomerType">
    <xs:restriction base="xs:int"></xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CourtType">
    <xs:restriction base="xs:int">
      <xs:totalDigits value="3" />
      <xs:pattern value="\d{1,3}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CodeType">
    <xs:restriction base="xs:string"></xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="KindType">
    <xs:restriction base="xs:int">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EGNType">
    <xs:restriction base="xs:string">
      <xs:length value="10"></xs:length>
      <xs:pattern value="\d{10}"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FirstNameType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="22"></xs:maxLength>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LastNameType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="22"></xs:maxLength>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ReNameType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"></xs:maxLength>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ReasonType">
    <xs:restriction base="xs:int"></xs:restriction>
  </xs:simpleType>


  <xs:complexType name="ExtensionsType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax"></xs:any>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="DebtorStatusType">
    <xs:restriction base="xs:int"></xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ReturnResultType">
    <xs:restriction base="xs:string"></xs:restriction>
  </xs:simpleType>
</xs:schema>
